name: qa

on:
  push:
    tags-ignore:
      - '**'
    branches:
      - main
  pull_request:


jobs:

  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Hadolint
        uses: hadolint/hadolint-action@v3.3.0

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@2.0.0
        with:
          additional_files: 'firecow_cloudflared'

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true

      - name: Build and push
        run: |          
          docker buildx build --platform linux/amd64,linux/arm64 . -t firecow/cloudflared
